.landing-page {
  background-color: grey;
  height: 1117px;
  font-family: "TheGloves", sans-serif;
}

.storytelling {
  background-color: rgb(206, 206, 206);
  height: 5043px;
}
.horizontal {
  background-color: grey;
  height: 1117px;
}
footer {
  background-color: rgb(206, 206, 206);
  height: 1117px;
}
